# **Python Basics (Strings)**

### Strings in python

In [ ]:
print("Hope to Skills")

Hope to Skills

In [ ]:
# storing string in a variable
first_name = "Muhammad"
second_name = "Zafar"

# String concatenation
full_name = first_name + second_name

# printing the output
print("1.",full_name)

# so here we a need a space between the strings
full_name = first_name + " " + second_name
print("2.",full_name)

1. MuhammadZafar
2. Muhammad Zafar

In [ ]:
# we can create a multiline string using triple quotes
multiline_string = """Hope
to
Skils"""
print(multiline_string)

Hope
to
Skils

In [ ]:
# python has built in functions for manipulating strings
# like for converting a string into upper and lower case we use below functions

print("1) Upper Case:",multiline_string.upper())
print("\n2) Lower Case:",multiline_string.lower())  # here "\n" is used for new line creation

1) Upper Case: HOPE
TO
SKILS

2) Lower Case: hope
to
skils

In [ ]:
# removing white spaces from a string
greet_with_space = " Hello, World! "
cleaned_greet = " Hello, World! "

# printing the both strings
print(greet_with_space)
print(cleaned_greet.strip())   # strip function removes white space from the start and end of it

 Hello, World!
Hello, World!

In [ ]:
# Replace functions
# replacing "hello" with "hi" using replace function
print(greet_with_space)
print(greet_with_space.replace("Hello","Hi"))

 Hello, World!
 Hi, World!

In [ ]:
# Split Method
# it returns a list of strings after breaking the given string by the specified separator
intro = "My name is Muhammad Zafar"

# splitting the intro with "space" seperator
print(intro.split(" "))

['My', 'name', 'is', 'Muhammad', 'Zafar']

In [ ]:
# second example of split method
phrase = "A man, a plan, a canal, Panama"

# splitting the string with "," seperator
print(phrase.split(","))

['A man', ' a plan', ' a canal', ' Panama']

In [ ]:
# it will show all the methods of a string
dir(greet)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# storing in a list
string_methods = [ 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
print(string_methods)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# capitalize method
# it capitalizes the first letter of the string
# for example
name = "muhammad zafar"
print(name)
print(name.capitalize())   # it capitalizes just first letter of the string

muhammad zafar
Muhammad zafar

### casefold()

In [ ]:
#  similar to the lower() method, but the casefold() method is stronger, more aggressive,
text = "Hello, And Welcome To My World!"

x = text.casefold()

print(x)

hello, and welcome to my world!

### center()

In [ ]:
# The center() method will center align the string, using a specified character (space is default) as the fill character.
txt = "banana"

x = txt.center(20, "-")    # here we can specify fill character

print(x)
print("Lenght without center method:",len(txt))
print("Lenght with center method:",len(x))

-------banana-------
Lenght without center method: 6
Lenght with center method: 20

In [ ]:
# another center methd's examle
txt = "Hope to Skills"

x = txt.center(20, "=")

print(x)
print("Lenght without center method:",len(txt))
print("Lenght with center method:",len(x))

===Hope to Skills===
Lenght without center method: 14
Lenght with center method: 20

# title()

In [ ]:
# it capitalizes the first letter of each word in a string.
book = "atomic habits"

print(book.title())

Atomic Habits

# swapcase()

In [ ]:
# it converts upper case letters into lower case and vice versa
name = "MUHAMMAD ZAFAR"

print(name.swapcase())

muhammad zafar

# ljust()

In [ ]:
# it returns a left justified version of the string.

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

# rjust()

In [ ]:
# it returns right justified version of the string.

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

# zfill()

In [ ]:
# it returns a copy of the string with '0' characters padded to the left.

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

# **Searching and Finding:**

# count()

In [ ]:
# it returns the number of times a specified value appears in the string.

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
# another example we can try

txt = "Hope to Skills"

# we can find letters
x = txt.count("o")

print(x)

2

# find()

In [ ]:
# it returns the index of first occurrence of the substring (if found). If not found, it returns -1.

txt = "Hello, welcome to my world."

x = txt.find("welcome")
y = txt.find("world")
z = txt.find("find")

print(x)
print(y)
print(z)

7
21
-1

# rfind()

In [ ]:
# it returns the index of last occurrence of the substring (if found). If not found, it returns -1.

txt = "Hello, welcome to my world."

x = txt.rfind("e")
y = txt.rfind("world")
z = txt.rfind("find")

print(x)
print(y)
print(z)

13
21
-1

# index()

In [ ]:
# it returns the index of first occurrence of the substring (if found). If not found, it raises an exception.

txt = "Hello, welcome to my world."

x = txt.index("welcome")
y = txt.index("world")
# z = txt.index("find")     # it raises an error

# main difference between find() and index() is that find() returns -1 if the value is not found.
print(x)
print(y)
# print(z)

7
21

starswith()

In [ ]:
# it returns True if the string starts with the specified value, otherwise False.

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")
y = txt.startswith("welcome")

print(x)
print(y)

True
False

endswith()

In [ ]:
# it returns True if the string ends with the specified value, otherwise False.

txt = "Hello, welcome to my world."

x = txt.endswith(".")
y = txt.endswith("my world.")

print(x)
print(y)

True
True

# **Splitting and Joining:**

# split()

In [ ]:
# it returns a list of substrings that were separated by the given separator.

text = "Hope to Skills"

text_list = text.split()  # space is a default separator
print(text_list)

['Hope', 'to', 'Skills']

In [ ]:
text = "Hope,to,Skills"

text_list = text.split(",")  # we can specify anything
print(text_list)

['Hope', 'to', 'Skills']

# rsplit()

In [ ]:
# it returns a list of substrings that were separated by the given separator, starting from the end of the string.

text = "Hope to Skills"

text_list = text.rsplit()  # space is a default separator
print(text_list)

['Hope', 'to', 'Skills']

# splitlines()

In [ ]:
# it returns a list of lines in the string, breaking at line boundaries.

txt = "Hope\nto\nSkills"

x = txt.splitlines()

print(x)

['Hope', 'to', 'Skills']

In [ ]:
# another simple axample of splitlines()

txt = """Hope
to
Skills"""

x = txt.splitlines()

print(x)

['Hope', 'to', 'Skills']

# join()

In [ ]:
# it returns a string that is a concatenation of the strings in an iterable.

myTuple = ("John", "Peter", "Vicky")

x = "-".join(myTuple)

print(x)

John-Peter-Vicky

In [ ]:
nums = ["1", "2", "3", "4"]
y = ""
x = y.join(nums)

print(x)
print(type(x))

1234
<class 'str'>

In [ ]:
text = "Pakistan Zindabad"

x = "_".join(text)

print(x)
print(type(x))

P_a_k_i_s_t_a_n_ _Z_i_n_d_a_b_a_d
<class 'str'>

# **Stripping:**

# strip()

In [ ]:
# it returns a copy of the string with both leading and trailing whitespace removed.

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

# rstrip()

In [ ]:
# it returns a copy of the string with trailing whitespace removed.

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

# lstrip()

In [ ]:
# it returns a copy of the string with leading whitespace removed.

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

# **Replacement**:

# replace()

In [ ]:
# this method replaces a specified phrase with another specified phrase.

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

# **Checking Content:**

# isalum()

In [ ]:
# it returns True if all the characters in the string are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "Company 12"     # string with space

x = txt.isalnum()

print(x)
print("It means string with space is not alphanumeric")

False
It means string with space is not alphanumeric

# isalpha()

In [ ]:
# it returns True if all the characters in the string are alphabet letters (a-z).
#
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

# isdigit()

In [ ]:
# it returns True if all the characters in the string are digits, otherwise False.

txt = "50800"

x = txt.isdigit()

print(x)

True

# isdecimal()

In [ ]:
# it returns True if all the characters in the string are decimals (0-9), otherwise False.

txt = "50800"

x = txt.isdecimal()

print(x)

True

# isnumeric()

In [ ]:
# it returns True if all the characters in the string are numeric, otherwise False.

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
# the difference between isdecimal(), isdigit(), isnumeric()

txt = "50800"

x = txt.isdecimal()
y = txt.isdigit()
z = txt.isnumeric()

print(x)
print(y)
print(z)
print("it means all are same")

True
True
True
it means all are same

# isspace()

In [ ]:
# it returns True if there are only whitespace characters in the string and there is at least one character, False otherwise

txt = ""

x = txt.isspace()

print(x)
x = "   "
y = "s   "
z = "s"

print(x.isspace())
print(y.isspace())
print(z.isspace())

False
True
False
False

# islower()

In [ ]:
# it returns True if all the characters in the string are in lower case, otherwise False.

txt = "hello world!"
txt2 = "hello 123"
txt3 = "mynameisPeter"   # "P" is uppercase letter here

x = txt.islower()
y = txt2.islower()
z = txt3.islower()

print(x)
print(y)
print(z)

True
True
False

# isupper()

In [ ]:
# it returns True if all the characters in the string are in upper case, otherwise False.

txt = "THIS IS NOW!"
txt2 = "Hello World!"
txt3 = "mynameisPeter"

x = txt.isupper()
y = txt2.isupper()
z = txt3.isupper()

print(x)
print(y)
print(z)

True
False
False

# istitle()

In [ ]:
# it returns True if the string follows the rules of a title, otherwise False.

txt = "Hello, And Welcome To My World!"
txt2 = "Hello"
txt3 = "22 Names"
txt4 = "This Is %'!?"


x = txt.istitle()
y = txt2.istitle()
z = txt3.istitle()
a = txt4.istitle()

print(x)
print(y)
print(z)
print(a)

True
True
True
True

# isprintable()

In [ ]:
# it returns True if all the characters in the string are printable, otherwise False.

txt = "Hello! Are you #1?"
txt2 = "Hello\nAre you #1?"

x = txt.isprintable()
y = txt2.isprintable()

print(x)
print(y)
print("it means '\\n' is not printable")

True
False
it means '\n' is not printable

# **Encoding and Decoding:**

# encode()

In [ ]:
# it returns an encoded version of the string.

txt = "My name is St√•le"

x = txt.encode()

print(x)
print(type(x))
print("it is used for converting string to bytes")

b'My name is St\xc3\xa5le'
<class 'bytes'>
it is used for converting string to bytes

# decode()

In [ ]:
# it returns a decoded version of the string.

txt = "My name is St√•le"

x = txt.encode()

print(x.decode("utf-8"))
print(type(x))
print("it is used for converting bytes into strings")

My name is St√•le
<class 'bytes'>
it is used for converting bytes into strings

# **let's solidify string concepts with some real-world-inspired problems.**

## **Problem Set 1: Basic String Manipulation**

In [ ]:
# Reverse a String
def reverse_string(text):
  reversed_string = text[::-1]
  return reversed_string

# Example usage
text = "Hello, World!"
reversed_text = reverse_string(text)
print(reversed_text)

!dlroW ,olleH

# Check for Palindrome:

In [1]:
  text = "A Car"

  cleaned_text = "".join(char.lower() for char in text if char.isalnum()).replace(" ", "")
  reversed_text = cleaned_text[::-1]

  if cleaned_text == reversed_text:
    print(f"{text}:is a palindrome")
  else:
    print(f"{text}: is not a palindrome")

A Car: is not a palindrome

# Problem 3: Count Word Occurrences

Write a program that takes a sentence as input and returns a dictionary where the keys are the words in the sentence (converted to lowercase) and the values are the number of times each word appears.

In [7]:
text = "This is a test sentence. This is."
# text = "The quick brown fox jumps over the lazy fox."

# creating a list of words from text
text_words = text.lower().split()

# for string the words and their count
word_count = {}

# for loop for counting the words
for word in text_words:
  cleaned_word = word.rstrip(".,!?")
  if cleaned_word in word_count:
    word_count[cleaned_word] += 1
  else:
    word_count[cleaned_word] = 1

print(word_count)

{'this': 2, 'is': 2, 'a': 1, 'test': 1, 'sentence': 1}