<a href="https://colab.research.google.com/github/ZafarWebDev/Python_Basics/blob/main/python_basics_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples in Python**

In [ ]:
tup = ("apple", "banana", "cherry", "apple")
print(tup)
print(type(tup))

('apple', 'banana', 'cherry', 'apple')
<class 'tuple'>

### **Tuples are same like lists but they are unmutuable (means ucchangeable)**

1.   Are Ordered
2.   Unmutable
3.   Allow Duplicate Values

In [ ]:
print(tup[0])     # prints the item at index 0

# changing the first item in tup with "orange"
# tup[0] = "orange"  # raise an error if this cell be executed

apple

## You can combine two tuples using the (+) operator

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)
# tuples concatenation
concat = tup1 + tup2
print(concat)

(1, 2, 3, 4, 5, 6)

## You can repeat a tuple multiple times using the ()* operator.

In [ ]:
tup = (1,3)
# tuple repetition
print(tup * 3)

(1, 3, 1, 3, 1, 3)

## You can assign tuple elements to variables using unpacking.

In [ ]:
values = (10, 20, 30)
a, b, c = values
print(f"a : {a}\nb : {b}\nc : {c}")

a : 10
b : 20
c : 30

## **Challenge:**

Write a Python function that takes two tuples as input and returns a new tuple where:

1. The first tuple is repeated twice
2. The second tuple is concatenated at the end.

In [ ]:
from typing_extensions import Concatenate
tup1 = (1,2,3)
tup2 = (4,5,6)

# first tuple repetition twice
print("======Tuple's Repetition=====")
print(tup1 * 2)

# Concatenation of the second tuple
print("=======CONCATENATION=======")
print(tup1 + tup2)

======Tuple's Repition=====
(1, 2, 3, 1, 2, 3)
=======CONCATENATION=======
(1, 2, 3, 4, 5, 6)

## Tuples, like lists, allow indexing and slicing to access specific elements

In [ ]:
# indexing
fruits = ("apple", "banana", "mango", "apple")
print(fruits[2])    # third item of fruit's tuple
print(fruits[-1])   # prints the last item of tuple

mango
apple

In [ ]:
# slicing
# You can extract portions of a tuple using slicing.
print(fruits[0:2])    # prints first and second item (excludes third one)

('apple', 'banana')

## **Challenge:**

## Write a Python function that takes a tuple and two index positions, then returns a sliced portion of the tuple based on those indices.

In [ ]:
# example tuple
values = (5,10,15,20,25,30,35)
# index positions
start_index = 2    # from third item
end_index = 5      # to the sixth item (excluding it)

# printing the sliced portion
print(values[start_index:end_index])

(15, 20, 25)

## Tuples are **immutable**, meaning their elements  **cannot be changed** once the tuple is created. This is a major distinction from lists, which are mutable and can be modified after creation

In [ ]:
my_tup = (1,2,3)
# Trying to change the first element
# my_tup[0] = 100    # uncomment and execute the cell to see TypeError because tuples do not support item assignment.

## **Challenge:**

Since tuples cannot be modified, how do you update them?
### Write a Python function that takes a tuple and a new value, then returns a new tuple where the first element is replaced with that new value. You’ll need to use tuple unpacking and concatenation to achieve this.

In [ ]:
values = (10, 20, 30, 40)
new_value = 99

# Creating a new tuple using concatenation
new_tup = (new_value,) + values[1:]

# Printing the updated tuple
print(new_tup)  # Output: (99, 20, 30, 40)

(99, 20, 30, 40)

# **Tuple Methods**

## index()

The  method returns the position of the first occurrence of a specified value in a tuple

In [ ]:
values = (5,10,15,20,25,30,35)

# find the index of numer 20
print(values.index(20))   # output will be 3

3

## **Challenge:**

Write a Python function that takes a tuple and a value, then returns the index of that value in the tuple. If the value is not in the tuple, the function should return .

In [ ]:
values = (3,6,9,12,15,18)
search_value = 15

# finding the index of given value
try:
    print(values.index(15))
except ValueError:   # now it will return -1 if value not find
    print(-1)

4

## max() & min()

In [ ]:
numbers = (3, 6, 9, 12, 15, 18)

# find the largest number in the tuple
print("Largest number: ",max(numbers))

# find the smallest number
print("Smallest number: ",min(numbers))

Largest number:  18
Smallest number:  3

## **Challenge:**

Write a Python function that takes a tuple of numbers and returns both the smallest and largest values as a new tuple.

In [ ]:
values = (42, 8, 15, 23, 4, 16)

# craeting new tuple of the largest and the smallest value
new_tup = (min(values), max(values))

# printing the tuple
print(new_tup)

(4, 42)

## **Using (in) to Check for an Elemen**

The (in) keyword allows you to check whether a specific value exists within a tuple.

In [ ]:
numbers = (10, 20, 30, 40, 50)

print(30 in numbers)   # will return True
print(35 in numbers)

True
False

## **Challenge:**

Write a Python function that takes a tuple and a value as input. If the value exists in the tuple, return "Found"; otherwise, return "Not Found".

In [ ]:
values = (5, 10, 15, 20, 25)
search_value = 13

# defining a function to check if value exist in the given tuple or nor
def check_value(values, search_value):
    if search_value in values:
        print("Found!")
    else:
        print("Not Found!")

# calling the function to check the value "13"
check_value(values, search_value)

Not Found!

## sorted()

The  function returns a list of sorted elements, so you'll need to convert it back into a tuple

In [ ]:
numbers = (42, 8, 15, 23, 4, 16)

# sorting the tuple
sorted_tuple = tuple(sorted(numbers))
sorted_desc = tuple(sorted(numbers, reverse=True))

print(sorted_tuple)
print(sorted_desc)

(4, 8, 15, 16, 23, 42)
(42, 23, 16, 15, 8, 4)

## **Challenge:**

Write a function that takes a tuple of numbers and returns two new tuples:
1. One sorted in ascending order.
2. One sorted in descending order

In [ ]:
values = (29, 12, 45, 8, 32)

# function for sorting the tuple
def sort_tuple(values):
    print("===Ascending Order====")
    print(tuple(sorted(values)))
    print("\n====Descending Order====")
    print(tuple(sorted(values, reverse=True)))

# calling the function
sort_tuple(values)

===Ascending Order====
(8, 12, 29, 32, 45)

====Descending Order====
(45, 32, 29, 12, 8)

## **What Are Nested Tuples?**

A nested tuple is a tuple that contains other tuples as elements.

In [ ]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple[1])

# accessing inner tuple item
print(nested_tuple[1][2])    # accessing third item of second tuple

(4, 5, 6)
6

## **Challenge:**

Write a Python function that takes a nested tuple containing student names and their scores, then returns the highest-scoring student's name.

In [ ]:
students = (("Ali", 85), ("Sara", 90), ("Ahmed", 88), ("Zara", 95))

#  function for finding the highest score of the students
def highest_score(scores):
    high_score = max(scores, key=lambda student: student[1])
    print(high_score[0])    # Accessing just the name of the highest score student

# Calling the function
highest_score(students)

Zara

## **Challenge: Extract Data from a Nested Tuple**

You have a nested tuple where each element contains a country name, its capital, and its population. Your task is to write a function that:
1. Takes a country name as input.
2. Returns its capital and population.

In [ ]:
countries = (
    ("Pakistan", "Islamabad", 231000000),
    ("USA", "Washington, D.C.", 331000000),
    ("Japan", "Tokyo", 125000000),
    ("France", "Paris", 68000000)
)

# defining function to extract data from the tuple
def extract_data(country_name):
    if country_name == countries[0][0]:
        print(countries[0][1:])
    elif country_name == countries[1][0]:
        print(countries[1][1:])
    elif country_name == countries[2][0]:
        print(countries[2][1:])
    elif country_name == countries[3][0]:
        print(countries[3][1:])
    else:
        print("Item doesn't exist.")

# Calling the function
extract_data("Japan")

('Tokyo', 125000000)

### **Optimized Approach:**

Instead of manually checking each tuple, you can use a loop to make the function more scalable for larger datasets.

In [ ]:
def extract_data2(country_name):
    for country in countries:
        if country[0] == country_name:
            return country[1:]    # it will return capital and population
    return "Item doesn't exist."

# Calling the function

print(extract_data2("France"))
print(extract_data2("Germany"))

('Paris', 68000000)
Item doesn't exist.

## **Advanced Nested Tuple Challenge: Grouping Data Dynamically**

You have a nested tuple containing students' names, scores, and subjects. Your task is to write a function that:
1. Groups students based on their subjects.
2. Returns a dictionary where the keys are subjects and the values are tuples of students and their scores.

In [ ]:
students = (
    ("Ali", 85, "Math"),
    ("Sara", 90, "Science"),
    ("Ahmed", 88, "Math"),
    ("Zara", 95, "English"),
    ("Bilal", 80, "Science"),
    ("Mina", 78, "English")
)

# defining function for grouping students based on their subjects
def students_grouping(data):
    students_group = {}
    for student in data:
        name, score, subject = student
        if subject in students_group:
            students_group[subject] += ((name, score),)
        else:
            students_group[subject] = ((name, score),)
    return students_group

print(students_grouping(students))

{'Math': (('Ali', 85), ('Ahmed', 88)), 'Science': (('Sara', 90), ('Bilal', 80)), 'English': (('Zara', 95), ('Mina', 78))}

## We want to group items based on a category. Instead of students and subjects, let's start with something simpler—grouping fruits based on their colors.

In [ ]:
fruits = (
    ("Apple", "Red"),
    ("Banana", "Yellow"),
    ("Cherry", "Red"),
    ("Grapes", "Purple"),
    ("Lemon", "Yellow")
)

grouped_fruits = {}
for fruit, color in fruits:
    if color in grouped_fruits:
        grouped_fruits[color] += (fruit,)
    else:
        grouped_fruits[color]  = (fruit,)

print(grouped_fruits)

{'Red': ('Apple', 'Cherry'), 'Yellow': ('Banana', 'Lemon'), 'Purple': ('Grapes',)}

## **New Challenge: Find the Most Frequent Element in a Tuple**

You have a tuple with repeated numbers, and your task is to write a function that:
- Identifies the most frequent element.
- Returns both the element and its count.

In [ ]:
numbers = (4, 2, 8, 4, 6, 4, 8, 2, 4, 8, 8, 8)

count = {}
for num in numbers:
    count[num] = count.get(num, 0) + 1

most_frequent = max(count, key=count.get)
print(most_frequent, count[most_frequent])

8